@import "tailwindcss";

@theme {
  --color-nc-blue-900: #022761;
  --color-nc-blue-800: #002D74;
  --color-nc-gold: #FDB827;
  --color-nc-accent: #BC5C45;

  --color-nc-white: #FFFFFF;
  --color-nc-gray-100: #E8E8E8;
  --color-nc-gray-500: #71757D;
  --color-nc-gray-900: #46474A;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-nc-blue-900);
    color: var(--color-nc-white);
    font-family: var(--font-sans);
    overflow-x: hidden;
  }
}

